spring:
  application:
    name: QuizExploration

  datasource:
    url: jdbc:mariadb://localhost:3307/quizdb
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  thymeleaf:
    cache: false
